/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #bdae93FF;
    background-alt: #a89984FF;
    foreground:     #32302fFF;
    selected:       #83A598FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
